<footer th:fragment="footer" class="footer">
  <div class="footer__container">
    <div class="footer__grid">
      <!-- Logo -->
      <div class="footer__section">
        <div class="footer-logo">
          <img
            src="/images/logo/logo-with-tagline-white.png"
            alt="VNRailWay"
            class="footer-logo__image"
          />
        </div>
      </div>

      <!-- Thông tin -->
      <div class="footer__section">
        <h3 class="footer__heading">Thông tin</h3>
        <p class="footer__text">Trường Đại học Khoa học Tự nhiên, ĐHQG-HCM</p>
        <p class="footer__text">Khoa Công nghệ thông tin</p>
        <p class="footer__text footer__text--mt">Hệ quản trị cơ sở dữ liệu</p>
        <p class="footer__text">CQ2023/1 - Nhóm 10</p>
      </div>

      <!-- Liên lạc -->
      <div class="footer__section">
        <h3 class="footer__heading">Liên lạc</h3>
        <div class="footer__contact">
          <div class="contact-item">
            <img
              src="/images/icons/address.png"
              alt="Address"
              class="contact-item__icon"
            />
            <span class="contact-item__text"
              >Khu đô thị Đại học Quốc gia Thành phố Hồ Chí Minh, Phường Đông
              Hoà, TP.HCM</span
            >
          </div>
          <div class="contact-item">
            <img
              src="/images/icons/phone.png"
              alt="Phone"
              class="contact-item__icon"
            />
            <span class="contact-item__text">(+84) 395567370</span>
          </div>
          <div class="contact-item">
            <img
              src="/images/icons/mail.png"
              alt="Mail"
              class="contact-item__icon"
            />
            <span class="contact-item__text"
              >23120206@student.hcmus.edu.vn</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
