<header th:fragment="header" class="header">
  <div class="header__container">
    <div class="header__content">
      <!-- Logo -->
      <div class="header__logo">
        <img src="/images/logo/logo.png" alt="VNRailWay" class="logo__image" />
      </div>

      <th:block th:if="${!isAuthPage}">
        <th:block sec:authorize="isAuthenticated()">
          <!-- Nav section -->
          <nav class="nav">
            <!-- ADMIN -->
            <th:block sec:authorize="hasRole('ADMIN')">
              <th:block
                th:replace="~{fragments/nav-item :: item('/admin/employees', '/admin/employees', 'Nhân viên')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/admin/customers', '/admin/customers', 'Khách hàng')}"
              />
            </th:block>

            <!-- MANAGER -->
            <th:block sec:authorize="hasRole('MANAGER')">
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/statistics', '/manager/statistics', 'Thống kê')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/routes', '/manager/routes', 'Tuyến')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/trains', '/manager/trains', 'Tàu')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/trips', '/manager/trips', 'Chuyến')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/employees', '/manager/employees', 'Nhân viên')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/manager/settings', '/manager/settings', 'Cấu hình')}"
              />
            </th:block>

            <!-- TICKET SELLER -->
            <th:block sec:authorize="hasRole('TICKET_SELLER')">
              <th:block
                th:replace="~{fragments/nav-item :: item('/ticket-seller/trips', '/ticket-seller/trips/search', 'Tra cứu chuyến tàu')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/ticket-seller/tickets', '/ticket-seller/tickets/search', 'Tra cứu vé')}"
              />
            </th:block>

            <!-- CUSTOMER -->
            <th:block sec:authorize="hasRole('CUSTOMER')">
              <th:block
                th:replace="~{fragments/nav-item :: item('/trips', '/trips/search', 'Tra cứu chuyến tàu')}"
              />
              <th:block
                th:replace="~{fragments/nav-item :: item('/tickets', '/tickets', 'Vé đã đặt')}"
              />
            </th:block>
          </nav>

          <!-- User section -->
          <div class="header__user">
            <span
              class="user__name"
              sec:authentication="principal.fullName"
            ></span>

            <div class="user__avatar">
              <img
                src="/images/icons/user.png"
                alt="User"
                class="user__icon--image"
              />
              <input
                id="user-menu-toggle"
                class="user__toggle"
                type="checkbox"
              />
              <label for="user-menu-toggle" class="user__arrow-label">
                <img
                  src="/images/icons/down-arrow.png"
                  alt="Options"
                  class="user__arrow--image"
                />
              </label>
              <div class="user__menu" aria-hidden="true">
                <form th:action="@{/logout}" method="post">
                  <button type="submit" class="user__menu-item">
                    Đăng xuất
                  </button>
                </form>
              </div>
            </div>
          </div>
        </th:block>

        <th:block sec:authorize="isAnonymous()">
          <div class="header__auth">
            <a href="/login">Đăng nhập</a>
            <a href="/register">Đăng ký</a>
          </div>
        </th:block>
      </th:block>
    </div>
  </div>
</header>
