.pagination-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.pagination-icon__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.pagination-icon__btn:hover:not(:disabled) {
  transform: translateY(-1px);
}

.pagination-icon__btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.pagination-icon__icon {
  height: 1.75rem;
  object-fit: contain;
}

.pagination-icon__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

.pagination-icon__input {
  text-align: center;
  height: 2rem;
  padding-left: 0.7rem;
  margin: 0 0.75rem;
}
